.env
.venv
venv
\__pycache__/
*.pyc
node_modules/
*.pem
*.log
*.pub
# Local .terraform folder
.terraform/

# State files
*.tfstate
*.tfstate.backup

# Variables
*.tfvars
*.tfvars.json

# Execution plans
*.tfplan

# Logs
crash.log
# Ignore .DS_Store files (macOS)
.DS_Store
lambda_function.zip
lambda-mongodb
lambda-mongodb.zip